  /*
  .imgonecporttitor{
    background-image: url("./img/ThreeImages/1 - Preidlhof.jpg");
    width:25vw;
    height:17vw;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size:contain;
    
  }
  .Onec-porttito{
    font-size: 1vw;
    color: #ffffff;
    font-family: CircularStd;
    padding-top: 1.5vw;
    padding-left: 1.5vw;
    
  }
  .imginauctor{
    background-image: url("./img/ThreeImages/2 - Lamaiena.jpg");
    width:25vw;
    height:17vw;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size:contain;
  }
  .In-auctor{
    font-size: 1vw;
    color: #ffffff;
    font-family: CircularStd;
    padding-top: 1.5vw;
    padding-left: 1.5vw;
  }
  .imgmontes{
    background-image: url("./img/ThreeImages/3 - Excelsior.jpg");
    width:25vw;
    height:17vw;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size:contain;
  }
  .montes{
    font-size: 1vw;
    color: #ffffff;
    font-family: CircularStd;
    padding-top: 1.5vw;
    padding-left: 1.5vw;
  }
  */

  .three-images-main{
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 100%;
  }

  
  .threeimages{
    display: flex;
  }

  .three-images-images-col{
    background-repeat: no-repeat;
    object-fit: contain;
    background-size:contain;
    margin-left:1%;
    margin-right:1%;
    background-position: center;
    height:40vh;
  }

  .three-images-images-img1{
    background-image: url("./ThreeImages/1 - Preidlhof.jpg");
    flex-basis:100%;
  }
  .three-images-images-img2{
    background-image: url("./ThreeImages/2 - Lamaiena.jpg");
    flex-basis:100%;

  }
  .three-images-images-img3{
    background-image: url("./ThreeImages/3 - Excelsior.jpg");
    flex-basis:100%;
  }
  .svgtopbottom{
    background: url('./leafsvg.svg'),url('./raindropsvg.svg');
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 100%,0%;
    background-position-y:100%,0%;
  }
  .requestbutton2{
    background-color: #32b2a5;
        
    height : 40px;
    width : 250px;
    color : white;
    font-weight: bold;
    text-align: center;
  }
  .btFont2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
@media only screen and (max-width: 420px)
{
  .threeimages{
    flex-wrap: wrap;
  }
  .three-images-images-col{
    flex-grow: 1;
    background-size: cover;
    margin:none;
    margin-top: 1%;
    margin-bottom: 1%;
    height:30vh;
  }
  .requestbutton2{
    background-color: #32b2a5;
    height : 35px;
    width : 200px;
    color : white;
    font-weight: bold;
  }
  .btFont2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
}
  


  