.wasSindMain{
  
  padding-left: 10vw;
  padding-top: 10vw;
  display:flex;
  
}

.imgWasSindright{
  width:100%;
}

.imgWasSind{
  background-image: url("./img/wassinddein.jpg");
  height:40vw;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size:contain;


}

.wasSindSection{
  
    width:100%;
    padding-top: 5vw;
    margin-left:-50%;
   
    
  }
  .padWasSind{
  
    padding-right: 20vw;
  }

  .whiteback{
    background-color: white;
    padding-left: 15%;
  }


  
.imgauto{
    background-image: url("./img/auto.jpg");
    width:8vw;
    height:8vw;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size:contain;
  }

  .WasSindHead{
    font-family: CircularStd;
  
    font-size: 3.2vw;
  
    font-weight: bold;
  
    font-stretch: normal;
  
    font-style: normal;
  
    line-height: 1.3;
  
    letter-spacing: -0.05px;
  
    color: #282828;
  }

  .WirPara{
    font-family: Rubik;
    font-size:1.5vw;
    color: #505050;
  }