/*
.backgroundWhite {
    background: white;
}

.imagePhotoshootwasSindMain {
    display: flex;
    transform: translate(0%, 0%)
}

.imgWasSindright {
    width: 100%;
}

.imgWasSind {
    background-image: url("./PhotoShoot/Erlebnisse.jpg");
    height: 40vw;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: contain;
    transform: translate(50px, 100px);
}

.wasSindSection {
    width: 100%;
    transform: translate(50px, 100px);
    display: flex;
    flex-direction: column;
}

.imgauto {
    background-image: url("./img/auto.jpg");
    width: 8vw;
    height: 8vw;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: contain;
}

.WasSindHead {
    font-family: CircularStd;
    font-size: 3.2vw;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: -0.05px;
    color: #282828;
}

.WirPara {
    font-family: Rubik;
    font-size: 1.5vw;
    color: #505050;
}


.photoshootmain {
    display: flex;
    flex-direction: column;
}

.rightPhotoPhotoshoot {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    flex-wrap: wrap;
}

.rightPhotoPhotoshootImage {
    background-image: url("./PhotoShoot/FotoVideo Shooting.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 100%;
    margin:1%;
    
}

;
.rightPhotoTextSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:1%
}
.imgauto {
    /*background-image: url("./img/auto.jpg");
    width: 8vw;
    height: 8vw;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: contain;
}

.textHead{
    font-family: CircularStd;
    font-size: 3.2vw;
    font-weight: bold;
    color: #282828;
    text-align: right;
  }
  .textPara{
    font-family: Rubik,sans-serif;
    font-size:2.5vw;
    color: #505050;
  }








.leftPhotoPhotoshoot {
    display: flex;
}

.leftPhotoPhotoshootImage {
    background-image: url("./PhotoShoot/Erlebnisse.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: contain;
    display: flex;
    width: 100%;
    
}

;
.leftPhotoTextSide {
    display: flex;
    flex-direction: column;
    width: 100%;
}
*/
.svglefttop{
    background: url('./dotssvg.jpg'),url('./raindrops3svg1.JPG');
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 0,50%;
    background-position-y:50%,0%;
}
.svgright{
    background: url('./cloudsvg.JPG');
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 100%;
    background-position-y:50%;
}
.flexmain {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    height: inherit;
    background-color: white;
	
}
.animation{
	background-image: linear-gradient(
	45deg;
	);
	position: relative;
	overflow: hidden;
	
}
.flextextBox {
    width: 100%;
    flex-basis: 50%;
}

.flextext {
    display: flex;
    flex-direction: column;
}

.fleximg {
    flex-shrink: 0;
    width: 100%;
    flex-basis: 50%;
    height: 100vh;
    background-size: contain;
    object-fit: contain;
    background-repeat: no-repeat;
	
}

.textBox {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
}

.flextextBoxContent {
    height: inherit;
	
	
}

@media screen and (max-width:600px) {
    .flexmain {
        flex-wrap: wrap;
    }
    .textBox {
        flex-grow: 1;
    }
    .fleximg {
        flex-grow: 1;
        background-size: cover;
        height: 70vh;
        background-position: center center;
    }
    .textBox{
        margin: 0;
        margin-bottom: 1%;
    }
    .rightflexmain{
        flex-wrap: wrap-reverse;
    }
}

.leftsideimg {
    background-image: url("./PhotoShoot/Erlebnisse.jpg");
	position:relative;
	
	
}

.rightsideimg {
    background-image: url("./PhotoShoot/FotoVideo Shooting.jpg");
}


.margintopminus{
    margin-top:-2%;
}
.margintop{
    margin-top: 20%;
}