.multiVieoDiv{
    padding-left: 10%
}
.multiVideofirstRow{
    display:flex;
    margin-top: 2%;
}
.multiVideosecondRow{
    display:flex;
    margin-top: 2%;
}
.multiVideothirdRow{
    display:flex;
    margin-top: 2%;
}
.multiVideoimg1{
    background-image: url("./Thumbnails/Lamaiena.jpg");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.multiVideoimg2{
    background-image: url("./Thumbnails/Nature Spa Resort Quelle.png");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;

}
.multiVideoimg3{
    background-image: url("./Thumbnails/Excelsior.png");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;

}
.multiVideoimg4{
    background-image: url("./Thumbnails/Riederalm.png");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;

}
.multiVideoimg5{
    background-image: url("./Thumbnails/Alpin Lodge Das Zillergrund.png");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;

}
.multiVideoimg6{
    background-image: url("./Thumbnails/Preidlhof.jpg");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;

}
.multiVideoimg7{
    background-image: url("./Thumbnails/Cocoon.jpg");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;

}
.multiVideoimg8{
    background-image: url("./Thumbnails/Salena.jpg");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;

}
.multiVideoimg9{
    background-image: url("./Thumbnails/Alpenrose.png");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;

}

.videoPlayButton{
    background-image:url("./img/playpng1.png");
    width:100%;
    height:15vw;
    background-size: contain;
    background-repeat: no-repeat;
}


.closeModal{
float:right;



}
.im{
    width:100%;
}


.btn{border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px; 
	color:white;
background:transparent;

font-size: 1.5vw;


}
.btnclose{
    margin-top: 2%;
}