.communicateForm{
    display:flex;
    flex-direction: column;
    border: 1px solid #f6f6f6;
    border-radius: 2vh;
    padding:2.5%;
}
.communicateFormRow{
    width:100%;
    height:inherit;
    margin-bottom: 3%;
}
.communicateFormRowOne{
    display: flex;

}
.communicateFormRowOne>div{
    width:100%;
    height:inherit;
    padding-right: 5%;
}
.inputBox{
    height:6vh;
    background-color:#f6f6f6;
    border:0;
}
.inputLabel{
    font-size:1.5vw;
    color: #505050;
    width:100%;
  }
  .widthpadtext{
      width:95%;
  }
  .messInputHeight{
      height:15vh;
  }
  .padding2per{
      margin-top: 2%;
  }
  .padding3per{
      margin-top: 3%;
  }
.marginright{
    margin-right: 5%;
}
  .communicateMain{
      background: url('./SVG/footer-decoration-left.svg'),url('./SVG/footer-decoration-right.svg');
      background-repeat: no-repeat;
      background-size: 8%;
      background-position-x: 0,100%;
      background-position-y: 75%,100%;
  }
  .requestbutton5{
    background-color: #32b2a5;
    height : 50px;
    width :150px;
    color : white;
    font-weight: normal;
	outline: none;
	border-radius: 0px;
	border:no-border;
  }
  .btnFont5{
      font-family: Rubik,sans-serif;
      font-size: 1.8em;
	  
  }
  
  .error {
      color: red;
  }
  
  @media screen and (max-width:600px){
    .communicateFormRowOne{
        flex-wrap: wrap;
    }
    .communicateFormRowOne>.displayColumFlex{
        
        flex-grow: 1;
    }
    .communicateFormRowOne>div
    {
        padding: 0;
        flex-grow: 1;
    }
    .inputLabel{
       font-size:inherit;
    }
  }