.alignRight
{
    text-align: right;
}
.alignLeft
{
    text-align: left;
}

.alignCenter{
    text-align: center;
}
.padtop5per{
  padding-top: 5%;
}
.padtop3per{
  padding-top: 3%;
}
.padbottom5per{
  padding-bottom: 5%;
}
.requestbutton{
    background-color: #32b2a5; 
    height : inherit;
    width : inherit;
    color : white;
    font-weight: bold;
    border-radius: .25vw;
    padding: 1%;
    border:0;
  }

  .marginbottom1per{
      margin-bottom: 2%;
  }

  .padding5per{
    padding: 5%;
  }
  .padding1per{
    padding:1%;
  }

  .backposright{
    background-position: right;
  }

  .widthfitcontent{
      width: 20%;
  }
  .heightfitcontent{
    height:15vh;
  }
  .margin2d5per{
    margin: 2.5%;
  }
  .displayColumFlex{
    display: flex;
    flex-direction: column;
  }
.displayColumFlex>div{
  width:100%;
  height:inherit
}

.padding3per{
  padding: 3%;
}
.width70per{
  width: 70%;
}

.floatLeft{
  float: left;
}

.marginbottomnone{
  margin-bottom: none;
}

.backpositionCenter{
  background-position: center;
}

.allDimensionInherit{
  width: inherit;
  height: inherit;
}
.floatRight{
  float: right;
}

.backWhite{
background: white;
}

.height40px{
  height: 40px;
}